body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /*overflow: hidden;*/
}

.everything {
  background: linear-gradient(#ff9966, #ff5e62);
  height: 100svh;
  max-width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
