.container {
  position: absolute;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  top: 0;
  left: 0;
}

.floater {
  /*background: -webkit-linear-gradient(#eee, #d0d0d0);*/
  background: rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: -3em;
}

.floater:hover {
  cursor: default;
}

.small {
  font-size: 0.8em;
  position: absolute;
}
.medium {
  font-size: 1.3em;
  position: absolute;
}
.large {
  font-size: 2.2em;
  position: absolute;
}

.floater:nth-child(1) {
  left: 2%;
  animation: float-one 13s linear 1s infinite;
}
.floater:nth-child(2) {
  left: 4%;
  animation: float-two 8s linear 5s infinite;
}
.floater:nth-child(3) {
  left: 7%;
  animation: float-three 9s linear 2s infinite;
}
.floater:nth-child(4) {
  left: 10%;
  animation: float-one 10s linear 2s infinite;
}
.floater:nth-child(5) {
  left: 13%;
  animation: float-three 12s linear 0.5s infinite;
}
.floater:nth-child(6) {
  left: 17%;
  animation: float-one 8s linear infinite;
}
.floater:nth-child(7) {
  left: 20%;
  animation: float-two 12s linear 3s infinite;
}
.floater:nth-child(8) {
  left: 23%;
  animation: float-three 19s linear 1s infinite;
}
.floater:nth-child(9) {
  left: 26%;
  animation: float-one 14s linear 5s infinite;
}
.floater:nth-child(10) {
  left: 29%;
  animation: float-two 15s linear 2s infinite;
}
.floater:nth-child(11) {
  left: 33%;
  animation: float-one 7s linear 0.3s infinite;
}
.floater:nth-child(12) {
  left: 37%;
  animation: float-three 16s linear infinite;
}
.floater:nth-child(13) {
  left: 40%;
  animation: float-one 12s linear 8s infinite;
}
.floater:nth-child(14) {
  left: 42%;
  animation: float-three 10s linear 4s infinite;
}
.floater:nth-child(15) {
  left: 45%;
  animation: float-two 9s linear 1s infinite;
}
.floater:nth-child(16) {
  left: 48%;
  animation: float-two 13s linear 4s infinite;
}

.floater:nth-child(17) {
  left: 52%;
  animation: float-one 10s linear 5s infinite;
}
.floater:nth-child(18) {
  left: 54%;
  animation: float-two 12s linear 2s infinite;
}
.floater:nth-child(19) {
  left: 58%;
  animation: float-three 11s linear 6s infinite;
}
.floater:nth-child(20) {
  left: 61%;
  animation: float-one 8s linear infinite;
}
.floater:nth-child(21) {
  left: 63%;
  animation: float-two 8s linear 3s infinite;
}
.floater:nth-child(22) {
  left: 65%;
  animation: float-one 7s linear 0.3s infinite;
}
.floater:nth-child(23) {
  left: 69%;
  animation: float-three 12s linear 1s infinite;
}
.floater:nth-child(24) {
  left: 73%;
  animation: float-one 9s linear 6s infinite;
}
.floater:nth-child(25) {
  left: 76%;
  animation: float-three 13s linear 2s infinite;
}
.floater:nth-child(26) {
  left: 78%;
  animation: float-two 9s linear 2s infinite;
}
.floater:nth-child(27) {
  left: 81%;
  animation: float-two 10s linear 3s infinite;
}
.floater:nth-child(28) {
  left: 84%;
  animation: float-one 8s linear 0.8s infinite;
}
.floater:nth-child(29) {
  left: 87%;
  animation: float-two 12s linear 2s infinite;
}
.floater:nth-child(30) {
  left: 91%;
  animation: float-three 11s linear infinite;
}
.floater:nth-child(31) {
  left: 94%;
  animation: float-two 13s linear 6s infinite;
}
.floater:nth-child(5) {
  left: 98%;
  animation: float-three 12s linear 2s infinite;
}

@keyframes float-one {
  0% {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-10em) rotateY(180deg) rotate(720deg);
  }
}
@keyframes float-two {
  0% {
    opacity: 1;
    transform: translateY(0) rotate(40deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-11em) rotate(0deg) rotateY(300deg);
  }
}
@keyframes float-three {
  0% {
    opacity: 1;
    transform: translateY(0) rotateX(-20deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-12em) rotateX(240deg) rotate(200deg);
  }
}
