.header {
  padding: 5px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 15svh;
  display: flex;
  align-items: center;
}

.header2 {
  padding: 3em 10px;
  text-align: center;
  font-size: medium;
  border-radius: 5px;
  width: fit-content;
  text-decoration: underline;
  margin: 0 auto;
}

.h1 {
  margin: auto;
}
